---
import BaseLayout from "./BaseLayout.astro";
import type { Props } from "./BaseLayout.astro";

export interface PageProps extends Props {}

const props = Astro.props;
---

<BaseLayout {...props}>
  <div class="container">
    <slot />
  </div>
</BaseLayout>
