---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Things to Learn";
const description = "A collection of things that are useful to know.";
const permalink = Astro.site!.href; // FIXME: using ! for now
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <section>
    <h2>Useful Things to Know</h2>
    <ul>
      <li>How to edit a text file</li>
    </ul>
  </section>
</BaseLayout>
