---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Toppen, Fjäderhjälmar"
  description="Är leken och fyra vart aldrig"
>
  <h1>Toppen, Fjäderhjälmar</h1>

  <section>
    <pre>
toppen, fjäderhjälmar
är leken och fyra vart aldrig
fyra och två
Emmy
polle och te
polle och te
Emily
Hyaa
Hyaa
Hyaa
Hyaa
Hyaa
Hyaa
Hjalmar ville hata
Du är en kakbit
i 16 avsnitt
Nu är det kavling
i 16 avsnitt
Nu är det bara och vinna
och Österrike
Ratten är för rik
Är det någon skriftlig rink med Mali?
Verum kavling
Volfram
18 Ingvild
Krusbärsson
eran skåra
Island - två öl
Österrike - ej
Filip och han aids
Filip och han har aids
Han
Han bara flöjta till äggs klocka ger
Och aldrig naken klibbat
Och aldrig något till man
Hör min lille aids vän
18 Ingvild tröstar son
Hans tryck-jackor fistas i urin
A och EM
Aldrig tappa
Klibbig, flikig
Aldrig tappad
En piss-diss i urin
Hästen har rymt
Island - två
Österrike - ett
Tack för du kom då Österrike
Tack för din Kommunal

Credit: [ZimoNitrome](https://www.youtube.com/user/ZimoNitrome)
    </pre>
  </section>
</Layout>
