---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "egghunt";
const description = "egghunt";
const permalink = `${Astro.site!.href}egghunt`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="egghunt"
>
  <section>
    <h1>egghunt</h1>
    <p>
      lbh ner gur svefg gb svaq guvf cvat rttuhag ng tbhqr qbg fr jvgu lbhe
      pubfra yrnqreobneq nyvnf gb npgvingr gur arkg fgntr bs gur gernfher uhag
    </p>
  </section>
</BaseLayout>
