---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "egghunt";
const description = "egghunt";
const permalink = `${Astro.site!.href}egghunt`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="egghunt"
>
  <section>
    <h1>egghunt</h1>
  </section>
</BaseLayout>
