---
import Layout from "@/layouts/Layout.astro";
import dollSvgUrl from "./do-olls-that-will-talk/_dolls-that-will-talk.svg";
---

<Layout title="goude.se" description="Personal site">
  <h1 id="entry-point">Entry Point</h1>
  <p class="subtitle">
    Leave the campground a little cleaner than you found it.
  </p>

  <section>
    <h2>It's Beginning to Look a Lot Like Christmas</h2>

    <a href="/do-olls-that-will-talk/" class="notation-link">
      <figure class="notation-preview">
        <div class="notation-frame">
          <img
            src={dollSvgUrl.src}
            alt="Musical notation comparing timing of 'Dolls' in two versions"
            loading="lazy"
          />
        </div>
        <figcaption>A timing difference I can't unhear (WIP)</figcaption>
      </figure>
    </a>
  </section>
</Layout>

<style>
  .notation-link {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: var(--space-xl) 0;
  }

  .notation-preview {
    margin: 0;
    max-width: 100%;
  }

  .notation-frame {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 4px;
  }

  .notation-frame img {
    width: 100%;
    filter: contrast(0.95);
  }
</style>
