---
import Layout from "@/layouts/Layout.astro";
import dollSvgUrl from "./do-olls-that-will-talk/_dolls-that-will-talk.svg";
---

<Layout title="goude.se" description="Personal site">
  <h1 id="entry-point">Entry Point</h1>
  <p class="subtitle">
    Leave the campground a little cleaner than you found it.
  </p>

  <section>
    <h2>It's Beginning to Look a Lot Like Christmas</h2>

    <a href="/do-olls-that-will-talk/" class="notation-link">
      <figure class="notation-preview">
        <div class="notation-frame">
          <img
            src={dollSvgUrl.src}
            alt="Musical notation comparing timing of 'Dolls' in two versions"
            loading="lazy"
          />
        </div>
        <figcaption>A timing difference I can't unhear (WIP)</figcaption>
      </figure>
    </a>
  </section>

</Layout>

<style>
  :root {
    --notation-h: 280px;
    --notation-perspective: 600px;
    --notation-tilt: 0deg;
    --notation-shift-y: 0%;
    --notation-scale: 100%;
    --notation-contrast: 0.95;
  }

  .notation-link {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: var(--space-xl) 0;
    width: var(--content-w);
  }

  .notation-preview {
    margin: 0;
    max-width: 100%;
  }

  .notation-frame {
    width: 100%;
    height: var(--notation-h);
    overflow: hidden;
    perspective: var(--notation-perspective);
    position: relative;
    border-radius: 4px;
  }

  .notation-frame img {
    position: relative;
    z-index: 1;
    width: 100%;
    transform: rotateX(var(--notation-tilt)) translateY(var(--notation-shift-y))
      scale(var(--notation-scale));
    transform-origin: center center;
    filter: contrast(var(--notation-contrast));
    will-change: transform;
  }
</style>
