---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "goude.se";
const description = "On Entry Points and other things.";
const permalink = Astro.site!.href; // FIXME: using ! for now
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="home"
>
  <section>
    <h1><a href="/hello">Hello</a> There</h1>
    <p>
      Some things are here to be useful. Others are here to be recognized. If
      you're the kind of person who feels relief when structure replaces ritual,
      or who builds to understand—then this may be for you.
    </p>

    <p>
      Start with the <a href="/entry-point">entry point</a>.
    </p>
    <!-- But Daddy Guimerno... -->
    <p>
      <a href="https://www.youtube.com/watch?v=E3kbUA1PNts"
        >"What means get rid of?"</a
      >
    </p>
  </section>
</BaseLayout>
