---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Entry Point"
  description="This site is where I keep some of my notes and put stuff that I find useful."
>
  <article id="entry-point">
    <header>
      <h1>Point of Entry</h1>
      <p class="subtitle">Human-created content in progress.</p>
    </header>

    <section>
      <p>
        This page is under construction. In the meantime,
        <a href="/ai-generated/wall-of-sound"
          >here's the article you requested</a
        >.
      </p>

      <p>
        <a href="/ai-generated/old-entry-point"
          >Old entry point (AI-generated)</a
        >
      </p>
    </section>
  </article>
</Layout>
