---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllRoutes } from "../utils/sitemap";

const site = import.meta.env.SITE;
const routes = await getAllRoutes(site);
---

<BaseLayout
  title="Sitemap"
  description="A list of all pages on this site."
  permalink="/sitemap/"
>
  <div class="container">
    <h2>Sitemap</h2>
    <ul>
      {
        routes.map((route) => (
          <li>
            <a href={route.url}>{route.title ?? route.url}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
