<footer>
  <span>
    &copy; {new Date().getFullYear()} goude.se. Week {
      Math.ceil(
        ((new Date() - new Date(new Date().getFullYear(), 0, 1)) / 86400000 +
          new Date().getDay() +
          1) /
          7,
      )
    }.
    <a href="/about#colophon">Colophon</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
