<style>
  img.logo {
    display: block;
    width: 75px;
  }

  @media (prefers-color-scheme: dark) {
    img.logo {
      filter: invert(1);
    }
  }
</style>

<a
  href="/"
  class="logo"
  title="Guard what you give your attention to. It quietly becomes who you are."
>
  <span style="font-size:75px; line-height:1;
  display:inline-block;"> ⊛ </span>
</a>
