<style>
  img {
    display: block;
    width: 75px;
  }
</style>

<a href="/">
  <img
    alt="At some point this WILL become a cursed witch's hat"
    src="/assets/logo.webp"
    width="75"
    height="50"
  />
</a>
