<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img
    alt="At some point this WILL become a cursed witch had"
    src="/assets/logo.webp"
    width="75"
    height="50"
  />
</a>
