<a
  href="/"
  class="logo"
  title="Guard what you give your attention to. It quietly becomes who you are."
>
  <i class="fa-solid fa-bullseye" aria-hidden="true"></i>
</a>

<style>
  .logo {
    font-size: 1.1em;
    padding: 0.25rem 0.6rem;
    color: inherit;
    text-decoration: none;
  }

  .logo:hover {
    opacity: 0.7;
  }
</style>
