---
// MathQuiz.astro
import "../styles/math-quiz.css";
---

<div id="quiz-container">
  <div id="mode-selector">
    <button type="button" data-mode="multiplication" class="mode-btn active"
      >×</button
    >
    <button type="button" data-mode="division" class="mode-btn">÷</button>
    <button type="button" data-mode="addition" class="mode-btn">+</button>
    <button type="button" data-mode="subtraction" class="mode-btn">−</button>
    <button type="button" data-mode="squares" class="mode-btn">x²</button>
    <button type="button" data-mode="square-roots" class="mode-btn">√</button>
    <button type="button" data-mode="lcd" class="mode-btn">LCD</button>
  </div>

  <div id="calculator">
    <div id="display">
      <div id="display-header">
        <div id="streak">&nbsp;</div>
        <div id="progress">&nbsp;</div>
      </div>
      <div id="problem">&nbsp;</div>
      <div id="answer-input">&nbsp;</div>
      <div id="feedback">&nbsp;</div>
    </div>

    <div id="numpad">
      <button type="button" data-num="7">7</button>
      <button type="button" data-num="8">8</button>
      <button type="button" data-num="9">9</button>
      <button type="button" data-num="4">4</button>
      <button type="button" data-num="5">5</button>
      <button type="button" data-num="6">6</button>
      <button type="button" data-num="1">1</button>
      <button type="button" data-num="2">2</button>
      <button type="button" data-num="3">3</button>
      <button type="button" data-num="0" class="zero">0</button>
      <button type="button" id="backspace">⌫</button>
      <button type="button" id="enter" class="enter">↵</button>
    </div>
  </div>

  <div id="completion">&nbsp;</div>
</div>

<script>
  import { MathQuiz } from "../utils/mathQuiz";
  new MathQuiz();
</script>
