---
import "../styles/math-quiz.css";
---

<div id="quiz-container">
  <div id="problem-type-selector">
    <select id="problem-type-select">
      <option value="">Select problem type...</option>
    </select>
    <button type="button" id="sound-toggle" title="Toggle sound">♪̸</button>
  </div>

  <div id="calculator">
    <div id="display">
      <div id="display-header">
        <div id="streak">&nbsp;</div>
        <div id="progress">&nbsp;</div>
      </div>
      <div id="problem">&nbsp;</div>
      <div id="answer-input">&nbsp;</div>
      <div id="feedback">&nbsp;</div>
    </div>

    <div id="numpad">
      <button type="button" data-num="7">7</button>
      <button type="button" data-num="8">8</button>
      <button type="button" data-num="9">9</button>
      <button type="button" data-num="4">4</button>
      <button type="button" data-num="5">5</button>
      <button type="button" data-num="6">6</button>
      <button type="button" data-num="1">1</button>
      <button type="button" data-num="2">2</button>
      <button type="button" data-num="3">3</button>
      <button type="button" data-num="0" class="zero">0</button>
      <button type="button" id="clear">C</button>
      <button type="button" id="backspace">⌫</button>
      <button type="button" id="decimal-btn">.</button>
      <button type="button" id="fraction-btn">/</button>
      <button type="button" id="multiply-btn">×</button>
      <button type="button" id="exponent-btn">^</button>
      <button type="button" id="enter" class="enter">↵</button>
    </div>
  </div>

  <div id="problem-description">&nbsp;</div>
  <div id="completion">&nbsp;</div>
</div>

<script>
  import { MathQuiz } from "../utils/mathQuiz";
  new MathQuiz();
</script>
